/**/compiled/*
/**/adminneo.css
/**/adminneo-light.css
/**/adminneo-dark.css
/**/adminneo.js
/**/adminneo-config.php
/**/adminneo-plugins.php
/export
/externals
vendor/composer
vendor/autoload.php
vendor/**/.git_
